<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="GoogleMapsAPIKey" value="AIzaSyDAJVArMOQQlYA8YSoluoUeuapKvY-ZN3Y" />
      <add key="GoogleMapsAPIKey2" value="AIzaSyD4SF72QG-QfjqjW5dnfj49jArGinA44x4" />
    </appSettings>
</configuration>